* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

main {
    width: 80%;
}

/*
.container img {
    width: 150px;
    height: 80px;
    margin: 1em;
}
.container {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.display-set {
    display: flex;
    justify-content: flex-end;
}
*/

/*          INIZIO HEADER       */
.display-set {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    background: greenyellow;
}

.display-set i, .display-set span{
    background:gray;
    padding: 0.2em;
}

.display-set span{
    margin-right: 1em;
}
/*          FINE HEADER       */



